@use '../../styles/variables' as *;
@use '../../styles/keyframes' as *;

.authPage {
    position: relative;
    overflow: hidden;
    padding: 8px;
    width: 100vw;
    height: 100vh;
    background-color: $main-color;
    
    .authBackground {
        position: absolute;
        overflow: hidden;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        // border: 2px red solid;

        .kanbanElements {
            svg {
                width: 96px;
                height: 96px;
                path {
                    fill: $main-hover-color;
                }
            }

            position: absolute;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;

            &:nth-child(odd) {
                top: 0px;
                animation-name: moveUp;
            }

            &:nth-child(even) {
                bottom: 0px;
                animation-name: moveDown;
            }

            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    left: calc((96px + 16px) * (#{$i - 1}));
                }
            }
        }
    }

    .notFound {
        position: relative;
        border-radius: 28px;
        z-index: 999;
        width: 85vw;
        height: 85vh;
        background-color: $background-color;

        .headingText {
            font-size: clamp(9rem, 2vh, 10rem);
            color: $main-color;
            font-weight: 900;
        }

        .paragraphText {
            text-align: center;
            font-size: $rem2;
            color: $text-color;

            a {
                color: $main-color;
            }
        }
    }
}

