@use '../../../src/styles/variables' as *;
@use '../../../src/styles/keyframes' as *;

header {
    position: relative;
    width: 100%;
    padding: 16px;
    background-color: $background-second-card-color;

    .logo {
        cursor: pointer;
        padding: 8px 16px;
        border-radius: 12px;
        transition: all 0.5s;

        svg {
            width: 24px;
            height: 24px;

            path {
                fill: $main-color;
            }
        }

        span {
            display: inline-block;
            font-size: $rem1_5;
            line-height: 1.2;
            color: $text-color;
            text-transform: uppercase;
            font-weight: 700;

            background-image: linear-gradient(to right, $main-color 0%, $main-color 100%);
            background-repeat: no-repeat;
            background-size: 0% 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: background-size 2s;
        }

        &:hover {
            background-color: $background-card-hover-color;

            span {
                background-size: 100% 100%;
            }
        }
    }

    .searchBox {
        .searchInput {
            width: 320px;
            padding: 8px 16px;
            border-radius: 12px;
            border: 2px $main-color solid;
            background-color: transparent;

            &:has(input:focus) {
                svg {
                    --angle: 480deg;
                    animation: rotate 2s infinite;
                }
            }

            input {
                width: 100%;
                font-size: $rem1;
                font-weight: 400;
                line-height: 1.5;
                color: $text-color;
            }
        }

        .createTaskButton {
            background-color: $main-color;
            color: $button-text-color;
            font-size: $rem1;
            line-height: 1.5;
            font-weight: 500;
            padding: 8px 16px;
            border-radius: 12px;
            border: 2px $main-color solid;
            transition: all 0.5s;

            &:hover {
                background-color: $main-hover-color;
                border: 2px $main-hover-color solid;
            }
        }
    }

    .userNavigate {
        nav {
            button {
                padding: 8px;
                border-radius: 12px;
                transition: all 0.5s;

                svg {
                    width: 16px;
                    height: 16px;

                    path {
                        fill: $second-text-color;
                    }
                }

                &:hover {
                    background-color: $background-card-hover-color;

                    svg {
                        transform: rotate(30deg);

                        path {
                            fill: $text-color;
                        }
                    }
                }
            }
        }

        .userAvatar {
            cursor: pointer;
            position: relative;
            width: 44px;
            height: 44px;
            border-radius: 100%;
            transition: all 0.5s;

            .glow {
                opacity: 0;
                transition: opacity 0.5s;
                position: absolute;
                z-index: 1;
                background-color: $main-hover-color;
                width: 100%;
                height: 100%;
                border-radius: 100%;
                filter: blur(10px);
            }

            .avatar  {
                padding: 8px;
                position: relative;
                object-fit: cover;
                border-radius: 100%;
                width: 100%;
                height: 100%;
                z-index: 2;
                background-color: $main-color;
                transition: all 0.5s;

                svg {
                    width: 100%;
                    height: 100%;
                    color: $button-text-color;
                }
            }

            &:hover {
                .glow {
                    opacity: 1;
                }

                .avatar {
                    background-color: $main-hover-color;

                    svg {
                        transform: scale(1.3);
                    }
                }
            }
        }
    }

    .dropDownMenuUser, .dropDownMenuNotification, .dropDownMenuHelp {
        padding: 8px;
        top: 100%;
        right: 16px;
        border-radius: 0px 0px 20px 20px;
        position: absolute;
        background-color: $background-second-card-color;

        .headingText {
            padding: 0px 8px;
            font-size: $rem0_875;
            color: $second-text-color;
            font-weight: 500;
            text-transform: uppercase;
        }


        .userInfoBox {
            padding: 0px 8px;

            .username {
                font-size: $rem1;
                color: $text-color;
                font-weight: 500;
            }

            .email {
                color: $text-color;
                font-size: $rem0_875;
                font-weight: 400;
                color: $second-text-color;
            }
        }

        .buttonsBox {
            button {
                font-size: $rem0_875;
                color: $text-color;
                font-weight: 500;
                width: 100%;
                text-align: start;
                padding: 8px;
                border-radius: 12px;
                background-color: transparent;
                transition: all 0.5s;

                &:hover {
                    background-color: $background-card-hover-color;
                }
            }

            #logOut {
                color: #A80303;

                &:hover {
                    background-color: #D49F9F;
                }
            }
        }
    }

    .dropDownCreateBoard {
        position: absolute;
        background-color: $background-second-card-color;
        top: 100%;
        left: 55.5%;
        padding: 8px;
        min-width: 320px;
        border-radius: 0px 0px 20px 20px;

        .headerBox {
            align-items: center;
            padding: 0px 8px;

            .headingText {
                font-size: $rem0_875;
                color: $second-text-color;
                font-weight: 500;
                text-transform: uppercase;
            }

            .closeMenuButton {
                svg {
                    color: $second-text-color;
                }

                &:hover {
                    svg {
                        color: $text-color;
                        transform: rotate(30deg);
                    }
                }
            }
        }

        form {
            .nameBox {
                label, span {
                    padding: 0px 8px;
                    font-size: $rem1;
                    line-height: 1.5;
                    color: $text-color;
                    font-weight: 500;
                }

                input {
                    font-size: $rem1;
                    color: $text-color;
                    line-height: 1.5;
                    width: 100%;
                    border: 2px $main-color solid;
                    padding: 8px;
                    border-radius: 12px;
                }
            }

            .visibilityBox {
                label {
                    padding: 0px 8px;
                    font-size: $rem1;
                    line-height: 1.5;
                    color: $text-color;
                    font-weight: 500;
                }

                .visibilitySelect {
                    border-radius: 12px;
                    overflow: hidden;
                    background-color: $background-card-hover-color;

                    .selected {
                        font-size: $rem1;
                        line-height: 1.5;
                        font-weight: 500;
                        background-color: $main-color;
                        padding: 8px;
                        color: $button-text-color;
                        border-radius: 12px;
                    }

                    ul {
                        li {
                            cursor: pointer;
                            font-size: $rem1;
                            line-height: 1.5;
                            font-weight: 500;
                            justify-content: start;
                            padding: 8px;
                            transition: all 0.5s;
                            border-radius: 12px;

                            &:hover {
                                background-color: $second-text-color;
                            }
                        }
                    }
                }
            }

            .createBoardButton {
                padding: 8px 16px;
                font-size: $rem1;
                line-height: 1.5;
                font-weight: 500;
                border-radius: 12px;
                color: $text-color;
                background-color: transparent;
                border: 2px $main-hover-color solid;
                transition: all 0.5s;

                &:hover {
                    background-color: $main-hover-color;
                    color: $button-text-color;
                }
            }
        }
    }
}

header.logOut {
    background-color: $background-color;

    .logo, .searchBox, .userNavigate, .dropDownMenuUser, .dropDownMenuNotification, .dropDownMenuHelp {
        animation: hiddenElement 2s ease-in-out;
    }
}

.plug {
    width: 100%;
    height: 2px;
    background-color: $second-text-color;
}