@keyframes fillLogo {
  from {
    background-size: 0% 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

@keyframes rotate {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }

    50% {
        opacity: 0.5;
        transform: rotate(var(--angle));
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

@keyframes moveUp {
  0% { transform: translateY(0); }
  50% { transform: translateY(-60%); } // поднимаем на 80% высоты контейнера
  100% { transform: translateY(0); }
}

@keyframes moveDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(60%); } // опускаем на 80% высоты контейнера
  100% { transform: translateY(0); }
}

@keyframes hiddenElement {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes hammerAnimation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes dot-bounce {
  0% { transform: translateY(0); }
  30% { transform: translateY(-3px); }
  60% { transform: translateY(0); }
  100% { transform: translateY(0); }
}