@use './variables' as *;
@use './keyframes' as *;

.ConfirmAlertOverlay {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
    background-color: rgba($color: #000000, $alpha: 0.4);
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);

    .ConfirmAlert {
        padding: 16px;
        border-radius: 28px;
        background-color: $background-card-color;

        span {
            color: $text-color;
            font-size: $rem2;
            font-weight: 500;
        }

        .buttonsBox {
            width: 100%;

            button {
                padding: 8px 16px;
                font-size: $rem1; 
                color: $text-color;
                font-weight: 500; 
                border-radius: 12px;
                width: 100%;
                background-color: $background-second-card-color;
                transition: all 0.5s;

                &:hover {
                    background-color: $background-card-hover-color;
                }
            }

            button.cancelButton {
                color: #A80303;

                &:hover {
                    background-color: #D49F9F;
                }
            }
        }
    }
}