@use './variables' as *;
@use './keyframes' as *;

.boardPage {
    width: 100%;
    height: 100%;

    .headerBox {
        align-items: center;
        width: 100%;
        padding: 16px;

        .nameText {
            font-size: $rem1;
            color: $text-color;
            background-color: $background-card-color;
            font-weight: 500;
            line-height: 1.5;
            padding: 8px;
            border-radius: 12px;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                background-color: $background-card-hover-color;
            }
        }

        
        .changeNameForm {
            align-items: center;
            background-color: $background-card-color;
            
            padding: 8px;
            border-radius: 12px;

            input {
                padding: 2px;
                width: fit-content;
                font-size: $rem1;
                color: $text-color;
                font-weight: 500;
                line-height: 1.5;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px;
                background-color: transparent;
                transition: all 0.5s;
                border-radius: 4px;

                svg {
                    color: $text-color;
                    width: 18px;
                    height: 18px;
                }

                &:hover {
                    background-color: $background-card-hover-color;

                    svg {
                        transform: rotate(30deg);
                    }
                }
            }

            .saveChangeNameButton {
                &:hover {
                    background-color: $main-hover-color;

                    svg {
                        color: $button-text-color;
                        transform: rotate(30deg);
                    }
                }
            }

            .closeEditFormButton {
                svg {
                    path  {
                        fill: #A80303;
                    }
                }

                &:hover {
                    background-color: #D49F9F;
                }
            }
        }

        .headerNavigate {
            position: relative;
            background-color: $background-card-color;
            padding: 8px;
            border-radius: 20px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                border-radius: 12px;
                transition: all 0.5s;

                svg {
                    color: $text-color;
                }

                &:hover {
                    background-color: $background-card-hover-color;

                    svg {
                        transform: rotate(30deg);
                    }
                }
            }

            .shareButton {
                background-color: $main-color;
                color: $button-text-color;
                font-size: $rem1;
                font-weight: 500;
                line-height: 1.5;

                &:hover {
                    background-color: $main-hover-color;
                }
            }

            #hammerButton:hover {
                svg {
                    animation: hammerAnimation 1s infinite !important;
                }
            }

            .moreButton {
                &:hover {
                    background-color: $background-card-hover-color;

                    svg {
                        transform: rotate(0deg);
                    }
                }
            }

            .archiveDropDown {
                min-width: 270px;
                right: 0px;
                overflow: hidden;
                max-height: 80vh;
                position: absolute;
                top: 100%;
                background-color: $background-card-color;
                padding: 8px;
                border-radius: 0px 0px 20px 20px;

                .archiveHeader {
                    align-items: center;
                    
                    svg {
                        path {
                            fill: $second-text-color;
                        }
                    }

                    .titleText {
                        font-weight: 500;
                        font-size: $rem1;
                        color: $second-text-color;
                    }
                }

                .tasksList {
                    padding-right: 8px;
                    overflow-y: scroll;
                    overflow-x: hidden;

                    .taskMenu {
                        .buttonsBox {
                            align-items: center;

                            .circle {
                                width: 4px;
                                height: 4px;
                                border-radius: 100%;
                                background-color: $second-text-color;
                            }

                            button {
                                color: $second-text-color;
                                background-color: transparent;
                                padding: 0;
                                font-size: $rem0_875;
                                font-weight: 500;
                                text-decoration: none;
                                transition: all 0.5s;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            button.recoveryButton {
                                &:hover {
                                    color: #006915;
                                }
                            }

                            button.deleteButton {
                                &:hover {
                                    color: #A80303;
                                }
                            }
                        }
                    }
                }

                .tasksList::-webkit-scrollbar {
                    width: 4px;
                }

                .tasksList::-webkit-scrollbar-track {
                    background: transparent;
                }

                .tasksList::-webkit-scrollbar-thumb {
                    background-color: $main-color;    /* цвет плашки */
                    border-radius: 20px;
                    border: none;
                }
            }

            .changeVisibilityDropDownMenu {
                overflow: hidden;
                width: 90%;
                right: 0px;
                position: absolute;
                top: 100%;
                background-color: $background-card-color;
                border-radius: 0px 0px 20px 20px;

                .changeVisibilityHeader {
                    align-items: center;
                    font-size: $rem1;
                    font-weight: 500;
                    color: $second-text-color;
                    padding: 8px 16px;
                }

                .visibilityInfo {
                    cursor: pointer;
                    padding: 8px 16px;
                    transition: all 0.5s;

                    &:hover {
                        background-color: $background-card-hover-color;
                    }

                    .visibilityInfoHeader {
                        align-items: center;
                        font-size: $rem1;
                        line-height: 1.5;
                        font-weight: 500;
                    }

                    .visibilityDescription {
                        font-size: $rem0_875;
                        color: $second-text-color;
                        font-weight: 500;
                        line-height: 1.5;
                    }
                }

                .visibilityInfo.private {
                    svg:nth-child(1) {
                        path {
                            stroke: #A80303;
                        }
                    }
                }

                .visibilityInfo.public {
                    svg:nth-child(1) {
                        path {
                            stroke: #006915;
                        }
                    }
                }
            }
        }

        .headerNavigate.opened {
            position: relative;
            border-radius: 20px 20px 0px 20px;
        }
    }

    .columnsBox {
        align-items: start;
        width: 100%;
        padding: 0px 16px;
    }
}