@use './variables' as *;
@use './keyframes' as *;

.boardPage {
    width: 100%;
    height: 100%;

    .headerBox {
        width: 100%;
        padding: 16px;

        .nameText {
            font-size: $rem1;
            color: $text-color;
            background-color: $background-card-color;
            font-weight: 500;
            line-height: 1.5;
            padding: 8px;
            border-radius: 12px;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                background-color: $background-card-hover-color;
            }
        }

        .changeNameForm {
            align-items: center;
            background-color: $background-card-color;
            
            padding: 8px;
            border-radius: 12px;

            input {
                padding: 2px;
                width: fit-content;
                font-size: $rem1;
                color: $text-color;
                font-weight: 500;
                line-height: 1.5;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px;
                background-color: transparent;
                transition: all 0.5s;
                border-radius: 4px;

                svg {
                    color: $text-color;
                    width: 18px;
                    height: 18px;
                }

                &:hover {
                    background-color: $main-hover-color;

                    svg {
                        color: $button-text-color;
                        transform: rotate(30deg);
                    }
                }
            }
        }

        nav {
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                border-radius: 12px;
                transition: all 0.5s;

                svg {
                    color: $text-color;
                }

                &:hover {
                    background-color: $background-card-hover-color;

                    svg {
                        transform: rotate(30deg);
                    }
                }
            }

            .shareButton {
                background-color: $main-color;
                color: $button-text-color;
                font-size: $rem1;
                font-weight: 500;
                line-height: 1.5;

                &:hover {
                    background-color: $main-hover-color;
                }
            }

            #hammerButton:hover {
                svg {
                    animation: hammerAnimation 1s infinite !important;
                }
            }

            .moreButton {
                &:hover {
                    background-color: $background-card-hover-color;

                    svg {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }

    .columnsBox {
        align-items: start;
        width: 100%;
        padding: 0px 16px;

        .column {
            background-color: $background-card-color;
            border-radius: 20px;
            width: 270px;
            padding: 8px;

            .columnHeader {
                padding: 8px;
                align-items: center;

                .columnName {
                    font-size: $rem1;
                    font-weight: 500;
                    color: $text-color;
                    line-height: 1.5;
                }
            }

            .taskList {
                .backgroundBlur {
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    width: 100vw;
                    height: 100vh;
                    z-index: 99;
                    background-color: rgba($color: #000000, $alpha: 0.4);
                }

                .taskComponent {
                    width: 100%;
                    padding: 8px;
                    border-radius: 12px;
                    background-color: $background-second-card-color;
                    transition: all 0.5s;
                    cursor: pointer;
                    position: relative;

                    .taskTagsBox {
                        .tagPreview {
                            max-width: 48px;
                            width: 48px;
                            height: 8px;
                            border-radius: 12px;
                        }
                    }

                    .buttonsBox {
                        width: fit-content;
                        height: 100%;
                        border-radius: 12px;
                        background-color: rgba($color: #000000, $alpha: 0.3);
                        backdrop-filter: blur(1px);
                        position: absolute;
                        transition: all 0.5s;
                        right: 0px;
                        top: 0px;
                        opacity: 0;
                        padding: 8px;

                        button {
                            color: $button-text-color;
                            transition: all 0.5s;

                            &:hover {
                                svg {
                                    transform: rotate(30deg);
                                }
                            }
                        }
                    }

                    &:hover {
                        background-color: $background-card-hover-color;

                        .buttonsBox {
                            opacity: 1;
                        }
                    }

                    .checkbox {
                        cursor: pointer;
                        min-width: 20px;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        border: 1px $text-color solid;
                        padding: 2px;
                    }
                    
                    .checkbox.active {
                        border: 1px $main-color solid;
                        background-color: $main-color;

                        svg {
                            color: $button-text-color;
                        }
                    }

                    .taskContent {
                        span {
                            width: fit-content;
                            font-size: $rem1;
                            color: $text-color;
                            font-weight: 400;
                            line-height: 1.5;
                        }

                        .editTaskForm {
                            width: 100%;

                            input {
                                padding: 8px;
                                font-size: $rem1;
                                color: $text-color;
                                line-height: 1.5;
                            }

                            .formButtonsBox {
                                width: 100%;

                                button {
                                    width: 100%;
                                    padding: 8px;
                                    border-radius: 12px;
                                    transition: all 0.5s;
                                }

                                button.createTaskButton {
                                    background-color: $main-color;
                                    color: $button-text-color;

                                    &:hover {
                                        background-color: $main-hover-color;

                                        svg {
                                            transform: rotate(30deg);
                                        }
                                    }
                                }

                                button.closeFormButton {
                                    background-color: #D49F9F;
                                    color: #A80303;

                                    &:hover {
                                        background-color: #C47C7C;

                                        svg {
                                            transform: rotate(30deg);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .editTaskDropDownMenu {
                        left: calc(100% + 8px);
                        top: 0px;
                        z-index: 100;
                        position: absolute;

                        button {
                            align-items: center;
                            border-radius: 12px;
                            white-space: nowrap;
                            font-size: $rem1;
                            font-weight: 500;
                            color: $text-color;
                            line-height: 1.5;
                            padding: 8px;
                            background-color: $background-card-color;
                            transition: all 0.5s;

                            &:hover {
                                background-color: $background-card-hover-color;

                                svg {
                                    transform: rotate(30deg);
                                }
                            }
                        }

                        button.deleteButton {
                            &:hover {
                                background-color: #D49F9F;
                                color: #A80303;

                                svg {
                                    transform: rotate(30deg);
                                    color: #A80303;
                                }
                            }
                        }

                        .changeTagsButton.active {
                            background-color: $main-color;
                            color: $button-text-color;
                        }

                        .changeTagsDropDownMenu {
                            cursor: default;
                            min-width: 100%;
                            width: fit-content;
                            position: absolute;
                            left: 0;
                            top: 96px;
                            z-index: 100;
                            background-color: $background-card-color;
                            border-radius: 12px 20px 20px 20px;
                            padding: 16px;

                            .changeTagsHeader {
                                align-items: center;
                                width: 100%;

                                span {
                                    white-space: nowrap;
                                    font-size: $rem1-5;
                                    color: $text-color;
                                    font-weight: 500;
                                    line-height: 1.4;
                                }

                                .closeMenu {
                                    padding: 4px;
                                }
                            }

                            .tagsList {
                                .tagComponent {
                                    width: 100%;

                                    .tagContent {
                                        width: 100%;
                                        padding: 6px;
                                        border-radius: 12px;
                                        font-size: $rem1;
                                        color: $button-text-color;
                                        font-weight: 500;
                                        line-height: 1.5;
                                    }
                                }
                            }

                            .createTagButton {
                                padding: 8px 16px;
                                background-color: $background-color;
                                font-size: $rem1;
                                color: $text-color;
                                line-height: 1.5;
                                transition: all 0.5s;

                                &:hover {
                                    background-color: $background-card-hover-color;
                                }
                            }
                        }

                        .changeTagsDropDownMenu.edit {
                            padding: 0;

                            .changeTagsHeader {
                                padding: 8px;
                            }

                            .newTagPreview {
                                background-color: $background-card-hover-color;
                                padding: 32px;

                                .newTagComponent {
                                    align-items: center;
                                    min-height: 36px;
                                    width: 100%;
                                    padding: 4px;
                                    border-radius: 12px;
                                    font-size: $rem1;
                                    color: $button-text-color;
                                    line-height: 1.5;
                                    font-weight: 500;
                                }
                            }

                            .newTagForm {
                                padding: 8px;
                                
                                input {
                                    padding: 8px;
                                    border-radius: 12px;
                                    border: 2px $second-text-color solid;
                                    font-size: $rem1;
                                    color: $text-color;
                                    font-weight: 400;
                                    line-height: 1.5;
                                }

                                .colorsList {
                                    width: 100%;
                                    display: grid;
                                    grid-template-columns: repeat(5, 1fr);
                                    grid-template-rows: repeat(6, 1fr);
                                    gap: 8px;
                                }

                                .color {
                                    width: 100%;
                                    height: 28px;
                                    border-radius: 6px; /* для лёгкого скругления */
                                    cursor: pointer;
                                    transition: transform 0.15s ease, box-shadow 0.15s ease;
                                }

                                .color.selected {
                                    border: 2px $text-color solid;
                                }

                                .color:hover {
                                    transform: scale(1.12);
                                    box-shadow: 0 0 4px rgba(0,0,0,0.3);
                                }
                            }
                        }
                    }
                }

                .taskComponent.active {
                    position: relative;
                    z-index: 100 !important;

                    .buttonsBox {
                        opacity: 0 !important;
                    }
                }
            }

            .addTaskButton {
                border-radius: 12px;
                font-size: $rem1;
                color: $text-color;
                font-weight: 500;
                padding: 8px;
                transition: all 0.5s;

                &:hover {
                    background-color: $background-card-hover-color;

                    svg {
                        transform: rotate(30deg);
                    }
                }
            }
        }

        .addColumnButton {
            justify-content: start;
            background-color: $background-card-color;
            color: $text-color;
            font-size: $rem1;
            font-weight: 500;
            min-width: 270px;
            padding: 8px;
            border-radius: 20px;
            transition: all 0.5s;

            &:hover {
                background-color: $background-card-hover-color;

                svg {
                    --angle: 480deg;
                    animation: rotate 2s infinite;
                }
            }
        }

        .addColumnForm, .addTaskForm {
            background-color: $background-card-color;
            border-radius: 20px;
            min-width: 270px;
            padding: 8px;

            input {
                border-radius: 12px;
                border: 2px $text-color solid;
                font-size: $rem1;
                color: $text-color;
                line-height: 1.5;
                padding: 8px;
                width: 100%;
            }

            .buttonsBox {

                .createColumnButton, .createTaskButton {
                    border-radius: 12px;
                    padding: 8px;
                    width: 100%;
                    font-size: $rem1;
                    font-weight: 500;
                    color: $button-text-color;
                    background-color: $main-color;
                    transition: all 0.5s;

                    &:hover {
                        background-color: $main-hover-color;
                    }
                }

                .closeFormButton {
                    background-color: transparent;
                    padding: 8px;
                    border-radius: 12px;
                    transition: all 0.5s;

                    &:hover {
                        background-color: #D49F9F;

                        svg {
                            color: #A80303;
                            transform: rotate(30deg);
                        }
                    }
                }
            }
        }
    }
}