@use './variables' as *;
@use './keyframes' as *;

.boardPage {
    width: 100%;
    height: 100%;

    .headerBox {
        width: 100%;
        padding: 16px;

        .nameText {
            font-size: $rem1;
            color: $text-color;
            background-color: $background-card-color;
            font-weight: 500;
            line-height: 1.5;
            padding: 8px;
            border-radius: 12px;
            cursor: pointer;
            transition: all 0.5s;

            &:hover {
                background-color: $background-card-hover-color;
            }
        }

        .changeNameForm {
            align-items: center;
            background-color: $background-card-color;
            
            padding: 8px;
            border-radius: 12px;

            input {
                padding: 2px;
                width: fit-content;
                font-size: $rem1;
                color: $text-color;
                font-weight: 500;
                line-height: 1.5;
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 4px;
                background-color: transparent;
                transition: all 0.5s;
                border-radius: 4px;

                svg {
                    color: $text-color;
                    width: 18px;
                    height: 18px;
                }

                &:hover {
                    background-color: $main-hover-color;

                    svg {
                        color: $button-text-color;
                        transform: rotate(30deg);
                    }
                }
            }
        }

        nav {
            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px;
                border-radius: 12px;
                transition: all 0.5s;

                svg {
                    color: $text-color;
                }

                &:hover {
                    background-color: $background-card-hover-color;

                    svg {
                        transform: rotate(30deg);
                    }
                }
            }

            .shareButton {
                background-color: $main-color;
                color: $button-text-color;
                font-size: $rem1;
                font-weight: 500;
                line-height: 1.5;

                &:hover {
                    background-color: $main-hover-color;
                }
            }

            #hammerButton:hover {
                svg {
                    animation: hammerAnimation 1s infinite !important;
                }
            }

            .moreButton {
                &:hover {
                    background-color: $background-card-hover-color;

                    svg {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }

    .columnsBox {
        align-items: start;
        width: 100%;
        padding: 0px 16px;

        .column {
            background-color: $background-card-color;
            border-radius: 20px;
            overflow: hidden;
            min-width: 270px;
            padding: 8px;

            .columnHeader {
                padding: 8px;
                align-items: center;

                .columnName {
                    font-size: $rem1;
                    font-weight: 500;
                    color: $text-color;
                    line-height: 1.5;
                }
            }

            .taskList {
                .taskComponent {
                    width: 100%;
                    padding: 8px;
                    border-radius: 12px;
                    background-color: $background-second-card-color;
                    transition: all 0.5s;
                    cursor: pointer;

                    &:hover {
                        background-color: $background-card-hover-color;
                    }

                    .checkbox {
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                        border-radius: 100%;
                        border: 1px $text-color solid;
                        padding: 2px;
                    }
                    
                    .checkbox.active {
                        border: 1px $main-color solid;
                        background-color: $main-color;

                        svg {
                            color: $button-text-color;
                        }
                    }
                }
            }

            .addTaskButton {
                border-radius: 12px;
                font-size: $rem1;
                color: $text-color;
                font-weight: 500;
                padding: 8px;
                transition: all 0.5s;

                &:hover {
                    background-color: $background-card-hover-color;

                    svg {
                        transform: rotate(30deg);
                    }
                }
            }
        }

        .addColumnButton {
            justify-content: start;
            background-color: $background-card-color;
            color: $text-color;
            font-size: $rem1;
            font-weight: 500;
            min-width: 270px;
            padding: 8px;
            border-radius: 20px;
            transition: all 0.5s;

            &:hover {
                background-color: $background-card-hover-color;

                svg {
                    --angle: 480deg;
                    animation: rotate 2s infinite;
                }
            }
        }

        .addColumnForm, .addTaskForm {
            background-color: $background-card-color;
            border-radius: 20px;
            min-width: 270px;
            padding: 8px;

            input {
                border-radius: 12px;
                border: 2px $text-color solid;
                font-size: $rem1;
                color: $text-color;
                line-height: 1.5;
                padding: 8px;
                width: 100%;
            }

            .buttonsBox {

                .createColumnButton, .createTaskButton {
                    border-radius: 12px;
                    padding: 8px;
                    width: 100%;
                    font-size: $rem1;
                    font-weight: 500;
                    color: $button-text-color;
                    background-color: $main-color;
                    transition: all 0.5s;

                    &:hover {
                        background-color: $main-hover-color;
                    }
                }

                .closeFormButton {
                    background-color: transparent;
                    padding: 8px;
                    border-radius: 12px;
                    transition: all 0.5s;

                    &:hover {
                        background-color: #D49F9F;

                        svg {
                            color: #A80303;
                            transform: rotate(30deg);
                        }
                    }
                }
            }
        }
    }
}