@use './variables' as *;
@use './keyframes' as *;

.editProfilePage {
    padding: 16px;
    justify-content: center;

    .nullMessage {
        text-align: center;
        width: 300px;
        text-transform: uppercase;
        font-weight: $rem2;
        color: $second-text-color;
        font-weight: 700;
        line-height: 1.2;
        
        a {
            text-transform: none;
            font-weight: 500;
            font-size: $rem1;
            color: $main-color;
        }
    }

    .userInfo {
        padding: 16px;
        border-radius: 28px;
        background-color: $background-card-color;

        .avatarImage {
            position: relative;
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 100%;

            &:hover {
                .uploadAvatarButton {
                    opacity: 1;
                }
            }

            .userAvatarPreview {
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .userAvatar {
                width: 100%;
                height: 100%;
                
                span {
                    font-size: clamp(3rem, 2vh, 3.2rem);
                }

                .glow {
                    display: none;
                }
            }

            .uploadAvatarButton {
                transition: all 0.5s;
                opacity: 0;
                padding: 8px;
                width: 48px;
                z-index: 999;
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: rgba($color: #000000, $alpha: 0.6);
                border-radius: 100%;
                transform: translate(-50%, -50%);

                svg {
                    width: 36px;
                    height: 36px;
                    color: $button-text-color
                }
            }
        }

        .floating-input input:focus + label, .floating-input input:not(:placeholder-shown) + label {
            background-color: $background-card-color !important;
        }

        form {
            .saveChangesButton {
                width: 100%;
                padding: 8px;
                background-color: #005a0b;
                transition: all 0.5s;
                border-radius: 12px;
                font-size: $rem1;
                font-weight: 500;
                color: $button-text-color;

                &:hover {
                    background-color: #008710;
                }
            }
        }
    }
}