@use './variables' as *;
@use './keyframes' as *;

.homePage {
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;

    .boardListTitle {
        font-weight: 600;
        font-size: $rem1;
        text-transform: uppercase;
        color: $second-text-color;
    }

    .boardList {
        width: 1440px;
        padding: 8px;

        .board {
            -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            align-items: center;
            justify-content: end;
            width: 300px;
            height: 180px;
            position: relative;
            border-radius: 20px;
            overflow: hidden;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.05);
            }

            .backgroundImage {
                position: absolute;
                top: 0px;
                left: 0px;
                z-index: 1;
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .textInfoBox {
                -webkit-box-shadow: 0px -8px 13px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px -8px 13px 0px rgba(0, 0, 0, 0.2);
                box-shadow: 0px -8px 13px 0px rgba(0, 0, 0, 0.2);
                background-color: $background-card-color;
                z-index: 2;
                position: relative;
                width: 100%;
                padding: 12px;

                .boardName {
                    font-size: $rem1;
                    color: $text-color;
                    font-weight: 500;
                }
            }
        }

        .board.create {
            justify-content: center;
            background-color: $background-card-color;
            transition: all 0.5s;

            span {
                font-weight: 500;
                color: $text-color;
                font-size: $rem1_5;
                line-height: 1.4;
            }

            &:hover {
                transform: none;
                background-color: $background-card-hover-color;
            }
        }
    }
}