@use './variables' as *;

@font-face {
    font-family: BasisGrotesquePro;
    font-weight: 300;
    src: url(../assets/fonts/BasisGrotesquePro-Light.ttf);
}

@font-face {
    font-family: BasisGrotesquePro;
    font-weight: 400;
    src: url(../assets/fonts/BasisGrotesquePro-Regular.ttf);
}

@font-face {
    font-family: BasisGrotesquePro;
    font-weight: 500;
    src: url(../assets/fonts/BasisGrotesquePro-Medium.ttf);
}

@font-face {
    font-family: BasisGrotesquePro;
    font-weight: 700;
    src: url(../assets/fonts/BasisGrotesquePro-Bold.ttf);
}

@font-face {
    font-family: BasisGrotesquePro;
    font-weight: 900;
    src: url(../assets/fonts/BasisGrotesquePro-Black.ttf);
}

@font-face {
    font-family: Recoleta;
    font-weight: 400;
    src: url(../src/assets/fonts/Recoleta.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: BasisGrotesquePro, sans-serif;
}

a {
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    background-color: $background-color;

    main {
        width: 100%;
        height: 100%;
    }
}


svg {
    transition: all 0.5s;
    width: 24px;
    height: 24px;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    background-color: transparent;
    border: none;
    outline: none;
}

.floating-input {
    position: relative;
    width: 100%;
    height: auto;

    input, textarea {
        width: 220px;
        background-color: transparent;
        border: 2px $main-color solid;
        padding: 8px 16px;
        font-size: $rem1;
        line-height: 1.5;
        color: $text-color;
        outline: none;
        border-radius: 12px;

        &::placeholder {
            color: transparent;
        }

        &:placeholder-shown + label {
            top: 12px;
            left: 12px;
            font-size: $rem1;
            line-height: 1.5;
            color: $second-text-color;
        }

        &:focus + label, &:not(:placeholder-shown) + label {
            display: flex;
            align-items: center;
            top: -12px;
            left: 8px;
            padding: 2px 4px;
            background-color: $background-color;
            font-size: $rem0_875;
            color: $main-color;
        }
    }

    label {
        position: absolute;
        left: 12px;
        top: 12px;
        font-size: $rem0_875;
        line-height: 1.5;
        font-weight: 500;
        color: $second-text-color;
        pointer-events: none;
        padding: 0 4px;
        transition: 0.2s ease all;
    }
}

button.moreButton {

    &:hover {
        svg circle {
            animation: dot-bounce 0.45s ease-in-out infinite;
        }

        svg circle:nth-child(1) {
            animation-delay: 0s;
        }

        svg circle:nth-child(2) {
            animation-delay: 0.12s;
        }

        svg circle:nth-child(3) {
            animation-delay: 0.24s;
        }
    }
}
